<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="shoppingEditForm" (ngSubmit)="onFormSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="ing_name">Ingredient Name:</label> <span class="error-label" *ngIf="!shoppingEditForm.get('ing_name').valid && shoppingEditForm.get('ing_name').dirty">Required</span>
          <input type="text"
            name="ing_name"
            id="ing_name"
            #nameInput
            formControlName="ing_name"
            class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="ing_amount">Ingredient Amount:</label>
          <input type="number"
            id="ing_amount"
            name="ing_amount"
            formControlName="ing_amount"
            class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" #saveBtn type="submit" [disabled]="!shoppingEditForm.valid">{{editMode ? 'Update' : 'Add'}}</button>
          <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDeleteIngredient()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>